@model IEnumerable<MVCWithEFCF3.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
        </tr>
    }
</table>
